version: '3.8'
services:
  postgres:
    image: postgres:13
    container_name: ramaBackend
    restart: always
    expose:
    - "5434"
    ports:
      - '5434:5432'
    env_file:
      - .env
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
    name: "kartikey"